* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root {
    --white: #ffffff;
    --bg-bottone2-header: #23272A;
    --bg-grey:  #F6F6F6;
    --bg-footer: #23272A;
    --bg-nav: #255EE9;

}
.bordi {
    border: 1px solid black;
}

nav {
    background-color: var(--bg-nav);
}
.container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   padding: 15px;
}

.container-lista1 {
    width: 25%;
}
.lista1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none; 

} 
  

.white{
    text-decoration: none;
    color: var(--white);
}

.blue {
    text-decoration: none;
    color: var(--bg-nav);

}

.container-bottoni {
    background: var(--white);
    border-radius: 40%;

    width: 5%;
    text-align: center;
    padding-top: 7px;
}


.container2 {
    text-align: center;

}.section-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.section-reverse {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
}
 .immagine{
    width: 40%;
}

.testo{
    width: 60%;
}

.section {
    text-align: center;
}

.lista2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}